:root {
    --mainBlue: rgb(0, 98, 255);
    --accentBlue: rgb(36, 142, 255); 
    --clickedBlue: rgb(0, 92, 240);
    --shadowBlue: rgb(0, 26, 194);
    --backgroundBlue: rgb(201, 221, 243);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


    & h1 {
        font-size: 75px;
    }

    & h2 {
        font-size: 50px;
    }

    & a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

header {
    width: 100%;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, var(--mainBlue) 10%, var(--accentBlue) 40%, var(--mainBlue) 50%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
        
        & h1 {
            text-wrap: wrap;

        }
    }

    & nav {
        list-style: none;
        margin-left: 50px;
        text-wrap: none;
        text-align: right;

        & li {
            display: inline-block;
            font-size: 50px;
            padding: 3px 10px;
            text-wrap: wrap;
        }

        & li:hover {
            color: yellow;
        }

        & li:active {
            background-color: var(--clickedBlue);
            box-shadow: 2px 2px 5px var(--shadowBlue) inset;
            border-radius: 5px;
            color: white;
        }
    }
}

main {
    position: relative;
    width: 90%;
    margin: 5%;
    display: block;

    & .aboutMe {
        position: relative;
        display: block;
        height: 300px;
        margin-bottom: 50px;

        & #sectionBody p {
            position: absolute;
            top: 0%;
            right: 0%;
            text-align: right;
            font-size: 30px;
            margin: 5% 50px 5% 100px;
        }
    }

    & .portfolio {
        position: relative;
        display: block;
        height: 1300px;
        margin-bottom: 50px;

        & #sectionBody {
            position: absolute;
            width: 70%;
            height: 100%;
            top: 0%;
            right: 0%;

            & #primeExample {
                width: 100%;
                height: 38%;
                position: relative;
            }

                & #primeExample::before {
                    content: "";
                    background-image: url(./images/Sample1.jpg);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #primeExample:hover::before {
                    opacity: 1;
                }

            & #label {
                position: absolute;                    
                padding: 20px 50px 20px 20px;
                bottom: 5%;
                background-color: rgba(0, 0, 0, 0.75);
                left: 0px;
                z-index: 5;
                color: yellow;

                & h3 {
                    font-size: 30px;
                    margin-bottom: 8px;
                }

                & p {
                    font-size: 20px;
                }
            }

            & #example2 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 40%;
                left: 0%;
            }

                & #example2::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example2:hover::before {
                    opacity: 1;
                }

            & #example3 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 40%;
                right: 0%;
            }

                & #example3::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example3:hover::before {
                    opacity: 1;
                }

            & #example4 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 60%;
                left: 0%;
            }

                & #example4::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example4:hover::before {
                    opacity: 1;
                }

            & #example5 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 60%;
                right: 0%;
            }

                & #example5::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example5:hover::before {
                    opacity: 1;
                }

            & #example6 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 80%;
                left: 0%;
            }

                & #example6::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example6:hover::before {
                    opacity: 1;
                }

            & #example7 {
                position: absolute;
                width: 49%;
                height: 18%;
                display: inline-block;
                top: 80%;
                right: 0%;
            }

                & #example7::before {
                    content: "";
                    background-image: url(./images/Sample6.png);
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: 0.75;
                }

                & #example7:hover::before {
                    opacity: 1;
                }
        }
    }

    & .contactMe {
        display: inline-block;
        position: relative;
        height: 300px;
        width: 100%;
        margin-bottom: 50px;
        
        & #sectionBody {
            top: 0px;
            right: 0px;
            position: absolute;
            width: 75%;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            & p {
                font-size: 30px;
                text-decoration: underline;
                font-weight: bold;
            }
        }
    }

    & #sectionHead {
        height: 100%;
        width: 25%;
        margin-bottom: 50px;
        border-right: 10px solid black;
        text-align: right;
        position: relative;

        & h2 {
            position: relative;
            right: 10px;
            top: 20px;
        }
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-color: aquamarine;

        & .aboutMe {
            
            & #sectionHead {
                position: relative;
                display: block;
                width: 100%;
                height: 100px;
                border-right: 0px solid black;
                border-bottom: 10px solid black;
            }

            & #sectionBody {
                display: block;
                position: relative;
            }
        }

        & .portfolio {

            display: block;
            position: relative;


            & #sectionHead {
                position: relative;
                display: block;
                width: 100%;
                height: 100px;
                border-right: 0px;
                border-bottom: 10px solid black;

            }

            & #sectionBody {
                display: block;
                position: relative;
                width: 100%;
                margin-bottom: 2000px;

                & #primeExample {
                    position: relative;
                }
            }
        }


        & .contactMe {
            width: 100%;
            display: block;
            position: absolute;
            top: 1850px;
            bottom: 0%;

            & #sectionHead {
                position: relative;
                display: block;
                width: 100%;
                height: 100px;
                border-right: 0px;
                border-bottom: 10px solid black;

            }

            & #sectionBody {
                display: block;
                position: relative;
                width: 100%;
            }
        }
    }
}